.aboutContainer{
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutLeft{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutLeft img{
    width: 100%;
}
.aboutRight{
    width: 50%; 
    padding: 8px 10px;
}
.aboutRight h2{
    margin-right: 60%;
    color: #454249;
    font-size: 1.9rem;
    margin-bottom: 18px;
    font-weight: 500;

}
.aboutRight p{
    width: 100%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    color: #3C3C5A;
}
.aboutRight ,b{
    color: #454249;
}
@media screen and (max-width: 780px){
        
    .aboutContainer{
        flex-direction: column;
    }
    .aboutRight{
        width: 100%;
    }
}